
<!-- breadcrumb start -->
<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>contact us</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>contact us</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- contact start -->
<div class="pa-contact spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="pa-contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1706.8394376723816!2d121.44638287848797!3d31.174184995239525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35b27b2b19de6b45%3A0x3da7e2c21ef9a441!2z5Lit5Zu95LiK5rW35biC5b6Q5rGH5Yy65py15LqR6L2p576O5pyv6aaG!5e0!3m2!1szh-CN!2sus!4v1599986187554!5m2!1szh-CN!2sus" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-md-5">
                <div class="pa-contact-form">
                    <form>
                        <label for="full_name"></label><input type="text" placeholder="姓名" name="full_name" id="full_name" class="require"/>
                        <label for="email"></label><input type="text" placeholder="Email" name="email" id="email" class="require" data-valid="email" data-error="Email should be valid."/>
                        <label for="subject"></label><input type="text" placeholder="联系电话" name="subject" id="subject" class="require"/>
                        <label for="message"></label><textarea placeholder="信息描述" name="message" id="message" class="require"></textarea>
                        <button type="button" class="pa-btn submitForm">提交</button>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact end -->
<!-- contact detail start -->
<div class="pa-contact-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="pa-contact-box">
                    <h4>地址</h4>
                    <p>上海市天钥桥路1188号朵云轩艺术中心5楼（电影院对正对面）</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pa-contact-box">
                    <h4>电话</h4>
                    <p>400 111 5055</p>
                    <p>158 0030 1615</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pa-contact-box">
                    <h4>Email</h4>
                    <p>zs@ddc-zm.com</p>
                    <p>rr@ddc-zm.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact detail end -->