
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/assets/css/style-freedom.css">
</head>
<body>
<!-- logo header -->
<section class="w3l-logo-header">
    <div class="wrapper">
        <div class="Brand-logo">
            <a class="brand-logo" href="index.html">Wu <span>Miao</span></a>
            <!-- if logo is image enable this
                <a class="brand-logo" href="index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
        </div>
    </div>
</section>
<!-- //logo header -->
<section class="w3l-error">
    <!-- /w3l-error page-section -->
    <div class="w3l-error-mian">
        <div class="wrapper">
            <div class="w3l-error-content">
                <div class="w3l-error-info">
                    <h2>404</h2>
                    <h3>网页未找到</h3>
                    <p>很抱歉，找不到您要求的页面，请返回首页或与我们联系</p>
                </div>
                <div class="w3l-error-right-inf">
                    <a href="index.html" class="actionbg">反回首页 </a>
                    <a href="contact.html" class="actionbg1">我们联系</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //w3l-error-page-section -->
 	
