<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<section class="walter-logo-header">
    <div class="wrapper">
        <div class="Brand-logo">
            <a class="brand-logo" href="/">Wu <span>Miao</span></a>
        </div>
    </div>
</section>
<section class="walter-error">
    <div class="walter-error-mian">
        <div class="wrapper">
            <div class="walter-error-content">
                <div class="walter-error-info">
                    <h2>404</h2>
                    <h3>{{ call .tr "Page Not Found"}}</h3>
                    <p>{{ call .tr "We're sorry, the page you requested could not be found, Please go back to the homepage or contact us"}}</p>
                </div>
                <div class="walter-error-right-inf">
                    <a href="/" class="actionbg">{{ call .tr "Back to home"}} </a>
                    <a href="/contact" class="actionbg1">{{ call .tr "Contact Us"}} </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>