<form class="needs-validation" id="form" novalidate method="post" action="/page/save">
    <input type="hidden" name="id" value="{{.data.Id}}">

    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="name">{{ call .tr "Title"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="title" type="text" value="{{ .data.Title }}" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="identifier">{{ call .tr "Identifier"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="identifier" type="text" value="{{ .data.Identifier }}" id="identifier">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label" for="status">{{ call .tr "Status"}}</label>
        <div class="col-md-10">
            <select class="form-control" id="status" name="status">
                <option value="1" {{ if .data.Status }} selected {{ end }}>{{ call .tr "Enable"}}</option>
                <option value="0" {{ if not .data.Status }} selected {{ end }}>{{ call .tr "Disable"}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="edit">{{ call .tr "Content"}}</label>
        <div class="col-md-10">
            <textarea name="content" id="edit" class="form-control"
                      rows="5">{{.data.Content}}</textarea>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="meta_keywords">{{ call .tr "Upload Images"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="thumb" type="hidden" value="{{ .data.Thumb }}" id="thumb">
            <div class="dropzone dropzone-single mb-3 {{if ne .data.Thumb ""}} dz-max-files-reached {{end}}" data-toggle="dropzone">
                <div class="fallback">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="projectCoverUploads">
                        <label class="custom-file-label" for="projectCoverUploads">Choose file</label>
                    </div>
                </div>
                <div class="dz-preview dz-preview-single">
                    <div class="dz-preview-cover">
                        <img class="dz-preview-img" src="{{ .data.Thumb }}" alt="{{ .data.Thumb }}" data-dz-thumbnail>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="meta_keywords">{{ call .tr "Meta keywords"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="meta_keywords" type="text" value="{{.data.MetaKeywords}}"
                   id="meta_keywords">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="meta_title">{{ call .tr "Meta title"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="meta_title" type="text" value="{{.data.MetaKeywords}}" id="meta_title">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="meta_description">{{ call .tr "Meta description"}}</label>
        <div class="col-md-10">
            <textarea id="meta_description" name="meta_description" class="form-control"
                      rows="6">{{.data.MetaDescription}}</textarea>
        </div>
    </div>
</form>

<script>
    new FroalaEditor('#edit', {
        imageEditButtons: ['insertFiles','imageDisplay', 'imageAlign', 'imageInfo', 'imageRemove'],
        height: (window.innerHeight - 200) + 'px',
        language: 'zh_cn',
        toolbarInline: false,
        enter: FroalaEditor.ENTER_P,
        imageButtons: ["floatImageLeft", "floatImageNone", "floatImageRight", "linkImage", "replaceImage", "removeImage"],
        imageUploadURL: '/upload/images',
        videoUploadURL: '/upload/videos',
        placeholderText: null,
        imageManagerLoadURL: "",
        imageManagerDeleteURL: "",
    })

    uploadImageInst()
    // $("#case1").upload();
</script>
