<form class="needs-validation" id="form" novalidate method="post" action="/page/save">
    <input type="hidden" name="id" value="{{.data.Id}}">

    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="name">{{ call .tr "Title"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="title" type="text" value="{{ .data.Title }}" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label" for="status">{{ call .tr "Status"}}</label>
        <div class="col-md-10">
            <select class="form-control" id="status" name="status">
                <option value="1" {{ if .data.Status }} selected {{ end }}>{{ call .tr "Enable"}}</option>
                <option value="0" {{ if not .data.Status }} selected {{ end }}>{{ call .tr "Disable"}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="edit">{{ call .tr "Content"}}</label>
        <div class="col-md-10">
            <textarea name="content" id="edit" class="form-control"
                      rows="5">{{.data.Content}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="meta_keywords">{{ call .tr "Meta keywords"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="meta_keywords" type="text" value="{{.data.MetaKeywords}}" id="meta_keywords">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="meta_title">{{ call .tr "Meta title"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="meta_title" type="text" value="{{.data.MetaKeywords}}" id="meta_title">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="meta_description">{{ call .tr "Meta description"}}</label>
        <div class="col-md-10">
            <textarea id="meta_description" name="meta_description" class="form-control"
                      rows="6">{{.data.MetaDescription}}</textarea>
        </div>
    </div>
</form>

    <script>
            new FroalaEditor('#edit', {
                height: (window.innerHeight - 200) + 'px',
                language: 'zh_cn',
                toolbarInline: false,
                enter: FroalaEditor.ENTER_P,
                imageButtons: ["floatImageLeft", "floatImageNone", "floatImageRight", "linkImage", "replaceImage", "removeImage"],
                imageUploadURL: '/upload/images',
                videoUploadURL: '/upload/videos',
                placeholderText: null,
                imageManagerLoadURL: "",
                imageManagerDeleteURL: "",
            })

            // $("#case1").upload();

    </script>
