<div class="sidebar" data-color="rose" data-background-color="black" data-image="/assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            WM
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Wu Miao
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/assets/img/faces/avatar.jpg"/>
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                Tania Andrew
                <b class="caret"></b>
              </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="/examples/dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <i class="fa fa-confluence"></i>
                    <p> 仪表板 </p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" data-toggle="collapse" href="#content">
                    <i class="material-icons">content_paste</i>
                    <p> 内容管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse show" id="content">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/page">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 页面管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/news">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 文章管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/tag">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 标签管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/cms/files">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 文件分组 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/cms/files">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 文件列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/cms">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 回收站 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#user">
                    <i class="material-icons">perm_identity</i>
                    <p> 管理员
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="user">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 管理员列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 角 </span>
                                <span class="sidebar-normal"> 角色列表 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#product">
                    <i class="fa fa-product-hunt"></i>
                    <p> 商品管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="product">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 商 </span>
                                <span class="sidebar-normal"> 商品列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 类 </span>
                                <span class="sidebar-normal"> 商品分类 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 评 </span>
                                <span class="sidebar-normal"> 商品评价 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#order">
                    <i class="fa fa-first-order"></i>
                    <p> 订单管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="order">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 单 </span>
                                <span class="sidebar-normal"> 全部订单 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 发 </span>
                                <span class="sidebar-normal"> 待发货 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 收 </span>
                                <span class="sidebar-normal"> 待收货 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 付 </span>
                                <span class="sidebar-normal"> 待付款 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 完 </span>
                                <span class="sidebar-normal"> 已完成 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 消 </span>
                                <span class="sidebar-normal"> 已取消 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> 后 </span>
                                <span class="sidebar-normal"> 售后管理 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#customer">
                    <i class="fa fa-users"></i>
                    <p> 用户管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="customer">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 用户列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 等级管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 充值记录 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 余额明细 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#store">
                    <i class="material-icons">Pages</i>
                    <p> 门店管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="store">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 门店列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 店员管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 订单核销记录 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#marketing">
                    <i class="fa fa-line-chart"></i>
                    <p> 营销管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="marketing">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 优惠券列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 领取记录 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini">  &nbsp;</span>
                                <span class="sidebar-normal"> 充值套餐 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 充值设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 积分设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 积分明细 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 发送消息 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 活跃用户 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 满额包邮 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/examples/calendar.html">
                    <i class="fa fa-line-chart"></i>
                    <p> 数据统计 </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#applets">
                    <i class="material-icons">Pages</i>
                    <p> 小程序
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="applets">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 页面设计 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 分类模板 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 页面链接 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 订阅消息 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 帮助中心 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 小程序设置 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#apps">
                    <i class="material-icons">apps</i>
                    <p> 应用中心
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="apps">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 应用中心 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 入驻申请 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 分销商用户 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 分销订单 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 提现申请 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 分销设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 分销海报 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 商品分类 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 商品列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 拼单管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 订单管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 售后管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 商品评价 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 拼团设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 活动列表 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 砍价记录 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 砍价设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 秒杀商品 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 活动会场 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 基础设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 商品收藏 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 订单信息 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 基础设置 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#settings">
                    <i class="material-icons">settings</i>
                    <p> 设置
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="settings">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 商城设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 交易设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 运费模板 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 物流公司 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 短信通知 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 退货地址 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 上传设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 打印机管理 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 打印设置 </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/examples/pages/pricing.html">
                                <span class="sidebar-mini"> &nbsp;</span>
                                <span class="sidebar-normal"> 清理缓存 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/examples/calendar.html">
                    <i class="material-icons">date_range</i>
                    <p> Calendar </p>
                </a>
            </li>
        </ul>
    </div>
</div>