<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="card mb-0">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">New User</h3>
                </div>
                <!-- Card body -->
                <div class="card-body">

                </div>
                <div class="card-footer d-flex">
                    <button type="button" id="modal-save" class="btn btn-primary ml-auto">{{ call .tr "Save" }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ call .tr "Close" }}</button>
                </div>
            </div>
        </div>
    </div>
</div>