<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <!-- Brand -->
    <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="../../pages/dashboards/dashboard.html">
            <!-- h1>五秒电商管理系统</h1 -->
            <img src="../../assets/img/brand/logo.svg" class="navbar-brand-img" alt="...">
        </a>
        <div class="ml-auto">
            <!-- Sidenav toggler -->
            <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollbar-inner">
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    {{ range $i, $v := .menuList }}
                        {{ if eq $v.Type "C"}}
                    <li class="nav-item">
                        <a href="{{ $v.Url }}" class="nav-link{{ if isAction $v.Id $.breadcrumbs}} active{{ end}}">
                            <i class="ni ni-{{ $v.Icon}} text-primary"></i>
                            <span class="nav-link-text">{{ call $.tr $v.Name }}</span>
                        </a>
                    </li>
                        {{ else }}
                    <li class="nav-item">
                        <a class="nav-link {{ if isAction $v.Id $.breadcrumbs}} active{{ end}}" href="#multilevel-{{ $v.Id }}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-forms">
                            <i class="ni ni-{{ $v.Icon}} text-pink"></i>
                            <span class="nav-link-text">{{ call $.tr $v.Name }}</span>
                        </a>
                        <div class="collapse {{ if isAction $v.Id $.breadcrumbs}} show{{ end}}" id="multilevel-{{ $v.Id }}">
                            <ul class="nav nav-sm flex-column">
                                {{ range $i, $c := $v.Children }}
                                    {{ if eq $c.Type "C"}}
                                        <li class="nav-item ">
                                            <a href="{{ $c.Url }} {{ if isAction $c.Id $.breadcrumbs}} active{{ end}}" class="nav-link active"> {{ call $.tr $c.Name }} </a>
                                        </li>
                                    {{ else }}
                                <li class="nav-item">
                                    <a href="#multilevel-{{ $c.Id }}" class="nav-link {{ if isAction $c.Id $.breadcrumbs}} active{{ end}}" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="promotions">{{ call $.tr $c.Name }}</a>
                                    <div class="collapse {{ if isAction $c.Id $.breadcrumbs}} show{{ end}}" id="multilevel-{{ $c.Id }}" style="">
                                        <ul class="nav nav-sm flex-column">
                                            {{ range $i, $d := $c.Children }}
                                            <li class="nav-item">
                                                <a href="{{ $d.Url }}" class="nav-link {{ if isAction $d.Id $.breadcrumbs}} active{{ end}}">{{ call $.tr $d.Name }}</a>
                                            </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </li>
                                {{ end }}
                                {{ end }}
                            </ul>
                        </div>
                    </li>
                    {{ end}}
                    {{ end}}
                </ul>
            </div>
        </div>
    </div>
</nav>