.color-scheme--0 {
    background-color: #cd165d
}

.color-scheme--1 {
    background-color: #251ccc
}

.color-scheme--2 {
    background-color: #231a02
}

.color-scheme--3 {
    background-color: #00c159
}

.color-scheme--4 {
    background-color: #ff7800
}

.color-scheme--5 {
    background-color: #00a97a
}

.color-scheme--6 {
    background-color: #007eaf
}

.color-scheme--7 {
    background-color: #ab34ff
}

.color-scheme--8 {
    background-color: #4b2b85
}

.color-scheme--9 {
    background-color: #27674e
}

.color-scheme--10 {
    background-color: #e2406a
}

.color-scheme--11 {
    background-color: #6b146d
}

.color-scheme--12 {
    background-color: #f1483e
}

.color-scheme--13 {
    background-color: #02a7b1
}

.color-scheme--14 {
    background-color: #0cad72
}

.color-scheme--15 {
    background-color: #1c5ea2
}

.color-scheme--16 {
    background-color: #370844
}

.color-scheme--17 {
    background-color: #f9b624
}

.color-scheme--18 {
    background-color: #901ec6
}

.color-scheme--19 {
    background-color: #ff924a
}