<form class="needs-validation" novalidate method="post" action="/role/save">
    <input name="id" value="{{ .data.Id }}" type="hidden">
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="name">{{ call .tr "Name"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="name" type="text" value="{{ .data.Name }}" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label" for="status">{{ call .tr "Status"}}</label>
        <div class="col-md-10">
            <select class="form-control" id="status" name="status">
                <option value="1" {{ if .data.Status }} selected {{ end }}>{{ call .tr "Enable"}}</option>
                <option value="0" {{ if not .data.Status }} selected {{ end }}>{{ call .tr "Disable"}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label"
               for="description">{{ call .tr "Description"}}</label>
        <div class="col-md-10">
            <textarea class="form-control" name="description" id="description">{{ .data.Description }}</textarea>
        </div>
    </div>
</form>