<section class="walter-title-11-blog">
    <div class="title11">
        <div class="wrapper">
            <div class="title11-content">
                <h2>
                    Interior Designs Blog
                </h2>
            </div>
        </div>
    </div>
</section>

<div class="walter-grids-block-5">
    <section id="grids5-block">
        <div class="wrapper">
            <div class="d-grid">

                {{ range $i, $v := .blog }}
                <div class="grids5-info">
                    <a href="/blog/{{ $v.Uuid }}"><img src="{{ $v.Thumb }}" alt=""></a>
                    <h5>{{ $v.UpdatedAt }}</h5>
                    <ul class="blog-info">
                        <li><a href="#admin"><span class="fa fa-user"></span> {{ $v.Author }}</a></li>
                        <li><a href="#comments"><span class="fa fa-comments"></span>3 {{ call $.tr "comments" }}</a></li>
                        <li><a href="#shares"><span class="fa fa-share"></span>3 {{ call $.tr "shares" }}</a></li>
                    </ul>
                    <h4><a href="/blog/{{ $v.Uuid }}">{{ $v.Title }}</a></h4>
                </div>
                {{ end }}
            </div>
            <div class="pagination">
                <ul>
                    <li class="prev"><a href="#page-number"><span class="fa fa-angle-double-left"></span></a></li>
                    <li><a href="#page-number" class="active">1</a></li>
                    <li><a href="#page-number">2</a></li>
                    <li><a href="#page-number">3</a></li>
                    <li><a href="#page-number">4</a></li>
                    <li><a href="#page-number">5</a></li>
                    <li class="next"><a href="#page-number"><span class="fa fa-angle-double-right"></span></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
