<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">filter_none</i>
                </div>
                <h4 class="card-title">Items</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="https://material-dashboard-pro-laravel.creative-tim.com/item/create" class="btn btn-sm btn-rose">Add Item</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" style="display:none">
                        <thead class="text-primary">
                        <th>
                            Name
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Picture
                        </th>
                        <th>
                            Tags
                        </th>
                        <th>
                            Creation date
                        </th>
                        <th class="text-right">
                            Actions
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                5 citybreak ideas for this year
                            </td>
                            <td>
                                Travel
                            </td>
                            <td>
                                <img src="/storage/pictures/img1.jpg" alt="" style="max-width: 200px;">
                            </td>
                            <td>
                                <span class="badge badge-default" style="background-color:#f44336">Hot</span>
                                <span class="badge badge-default" style="background-color:#9c27b0">Trending</span>
                                <span class="badge badge-default" style="background-color:#00bcd4">New</span>
                            </td>
                            <td>
                                2020-09-27
                            </td>
                            <td class="td-actions text-right">
                                <form action="https://material-dashboard-pro-laravel.creative-tim.com/item/1" method="post">
                                    <input type="hidden" name="_token" value="plgGqyDbPVP0d3cgPrUM6eaddjLJrXYOUDoPu2tr">                                  <input type="hidden" name="_method" value="delete">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Top 10 restaurants in Italy
                            </td>
                            <td>
                                Food
                            </td>
                            <td>
                                <img src="/storage/pictures/img2.jpg" alt="" style="max-width: 200px;">
                            </td>
                            <td>
                                <span class="badge badge-default" style="background-color:#f44336">Hot</span>
                            </td>
                            <td>
                                2020-09-27
                            </td>
                            <td class="td-actions text-right">
                                <form action="https://material-dashboard-pro-laravel.creative-tim.com/item/2" method="post">
                                    <input type="hidden" name="_token" value="plgGqyDbPVP0d3cgPrUM6eaddjLJrXYOUDoPu2tr">                                  <input type="hidden" name="_method" value="delete">
                                    <a rel="tooltip" class="btn btn-success btn-link" href="https://material-dashboard-pro-laravel.creative-tim.com/item/2/edit" data-original-title="" title="">
                                        <i class="material-icons">edit</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cocktail ideas for your birthday party
                            </td>
                            <td>
                                Food
                            </td>
                            <td>
                                <img src="/storage/pictures/img3.jpg" alt="" style="max-width: 200px;">
                            </td>
                            <td>
                                <span class="badge badge-default" style="background-color:#f44336">Hot</span>
                            </td>
                            <td>
                                2020-09-27
                            </td>
                            <td class="td-actions text-right">
                                <form action="https://material-dashboard-pro-laravel.creative-tim.com/item/3" method="post">
                                    <input type="hidden" name="_token" value="plgGqyDbPVP0d3cgPrUM6eaddjLJrXYOUDoPu2tr">                                  <input type="hidden" name="_method" value="delete">
                                    <a rel="tooltip" class="btn btn-success btn-link" href="https://material-dashboard-pro-laravel.creative-tim.com/item/3/edit" data-original-title="" title="">
                                        <i class="material-icons">edit</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-link" data-original-title="" title="" onclick="confirm('Are you sure you want to delete this user?') ? this.parentElement.submit() : ''">
                                        <i class="material-icons">close</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>