
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Living Decor interior category Responsive Web Template | Login </title>
  <link rel="stylesheet" href="assets/css/style-freedom.css">
</head>
<body>
<!-- logo header -->
<section class="w3l-logo-header">
	<div class="wrapper">
		<div class="Brand-logo">
				<a class="brand-logo" href="index.html">Living <span>Decor</span></a>
                <!-- if logo is image enable this   
                    <a class="brand-logo" href="index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
		</div>
	</div>
</section>
<!-- //logo header -->
<section class="w3l-form-36">
	<div class="form-36-mian">
		<div class="wrapper">
			<div class="form-inner-cont">
				<h3>Login to continue</h3>
				<form action="#" method="post" class="signin-form">
					<div class="form-input">
						<span class="fa fa-envelope"></span> <input type="email" name="" placeholder="Email" required />
					</div>
					<div class="form-input">
						<span class="fa fa-lock"></span> <input type="password" name="" placeholder="Password"
							required />
					</div>
					<label class="check-remember container">
						<input type="checkbox">
						<span class="checkmark"></span>
						<p class="remember">Remember me</p>
					</label>
					<button class="btn">Login</button>
					<div class="new-signup">
						<a href="" class="signuplink">Forgot password?</a>

					</div>
				</form>
				<div class="social-icons">
					<p class="continue">or continue with
					</p>
					<a href="">
						<div class="facebook">
							<span class="fa fa-facebook"></span> Facebook
						</div>
					</a>
					<a href="">
						<div class="twitter">
							<span class="fa fa-twitter"></span> Twitter
						</div>
					</a>
				</div>
				<p class="signup">Don’t have an account ? <a href="signup.html" class="signuplink">Sign up</a></p>
			</div>
		</div>
	</div>
</section>