
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Living Decor interior category Responsive Web Template | Signup </title>
  <link rel="stylesheet" href="assets/css/style-freedom.css">
</head>
<body>
<!-- logo header -->
<section class="w3l-logo-header">
	<div class="wrapper">
		<div class="Brand-logo">
				<a class="brand-logo" href="index.html">Living <span>Decor</span></a>
                <!-- if logo is image enable this   
                    <a class="brand-logo" href="index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
		</div>
	</div>
</section>
<!-- //logo header -->
<section class="w3l-form-36">
	<div class="form-36-mian">
		<div class="wrapper">
			<div class="form-inner-cont">
				<h3>Signup here</h3>
				<form action="#" method="post" class="signin-form">
					<div class="form-input">
						<span class="fa fa-user"></span> <input type="text" name="" placeholder="Full Name" required />
					</div>
					<div class="form-input">
						<span class="fa fa-envelope"></span> <input type="email" name="" placeholder="Email" required />
					</div>
					<div class="form-input">
						<span class="fa fa-phone"></span> <input type="text" name="" placeholder="Phone Number" required />
					</div>
					<div class="form-input">
						<span class="fa fa-lock"></span> <input type="password" name="" placeholder="Password"
							required />
					</div>
					<div class="checkmark-gap">
						<label class="container">
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
						<p class="remember">You agree to our <a href="#">terms and conditions</a></p>
					</div>
					<button class="btn">Sign  up</button>
				</form>
				<p class="signup">Already have an account ? <a href="login.html" class="loginlink">login</a></p>
			</div>
		</div>
	</div>
</section>