<!-- breadcrumb start -->
<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1> 产品类目</h1>
            <ul>
                <li><a href="index.html">首页</a></li>
                <li> 产品类目</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- product start -->
<div class="pa-product-shop spacer-top spacer-bottom">
    <div class="container">
        <div class="row">

            {{ range $key, $product := .data }}
            <div class="col-sm-4">
                <div class="pa-product-box">
                    <div class="pa-product-img">
                        <img src="{{ $product.Thumb }}" width="100%" alt="image" class="img-fluid"/>
                    </div>
                    <div class="pa-product-content">
                        <h4><a href="/shop/{{ $product.Uuid }}">{{ $product.Title }}</a></h4>
{{/*                        <p class="pa-product-rating">*/}}
{{/*                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i*/}}
{{/*                                    class="far fa-star"></i><i class="far fa-star"></i>*/}}
{{/*                        </p>*/}}
                        <p>
                            <del>¥ {{ $product.TagPrice }}</del>
                            ¥ {{ $product.Price }}
                        </p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<!-- product end -->