<form class="needs-validation" novalidate method="post" action="/admin/save">
    <input name="id" value="{{ .data.Id }}" type="hidden">
    <div class="form-group row">
        <label for="example-text-input" class="col-md-2 col-form-label form-control-label"
               for="name">{{ call .tr "Name"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="name" type="text" value="{{ .data.Name }}" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label" for="status">{{ call .tr "Status"}}</label>
        <div class="col-md-10">
            <select class="form-control" id="status" name="status">
                <option value="1" {{ if .data.Status }} selected {{ end }}>{{ call .tr "Enable"}}</option>
                <option value="0" {{ if not .data.Status }} selected {{ end }}>{{ call .tr "Disable"}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-email-input" class="col-md-2 col-form-label form-control-label"
               for="email">{{ call .tr "Email"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="email" type="email" value="{{ .data.Email }}" id="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-email-input" class="col-md-2 col-form-label form-control-label"
               for="password">{{ call .tr "Password"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="password" type="password" value="" id="Password">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-email-input" class="col-md-2 col-form-label form-control-label"
               for="password_confirm">{{ call .tr "Password confirm"}}</label>
        <div class="col-md-10">
            <input class="form-control" name="password_confirm" type="password" value="" id="password_confirm">
        </div>
    </div>
</form>