<!-- breadcrumb start -->
<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>{{.data.Title}}</h1>
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/news">新闻资讯</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- blog single start -->
<div class="pa-blog-single spacer-top spacer-bottom">
    <div class="container">
        <div class="pa-blog-box">
            <img src="{{ .data.Thumb }}" alt="image" width="100%" class="img-fluid">
            <div class="pa-blog-title">
                <h2>{{.data.Title}}</h2>
                <a href="#" class="pa-blog-date">{{.data.CreatedAt}}</a>
            </div>
        </div>
        <div class="pa-bs-content">
            {{.data.Content}}
        </div>
{{/*        <div class="pa-blog-comnt">*/}}
{{/*            <h2 class="pa-cmnt-title">发表评论</h2>*/}}
{{/*            <ul>*/}}
{{/*                <li>*/}}
{{/*                    <div class="pa-cmnt-box">*/}}
{{/*                        <div class="pa-cmnt-img">*/}}
{{/*                            <img src="assets/images/user.jpg" alt="image" class="img-fluid"/>*/}}
{{/*                        </div>*/}}
{{/*                        <div class="pa-cmnt-content">*/}}
{{/*                            <h3>小道仓</h3>*/}}
{{/*                            <p><span class="pa-cmnt-date">2020年3月20日</span><span class="pa-cmnt-time">06:35:44</span>*/}}
{{/*                            </p>*/}}
{{/*                            <p>小道仓茶，就想喝点不一样的！</p>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                    <ul>*/}}
{{/*                        <li>*/}}
{{/*                            <div class="pa-cmnt-box">*/}}
{{/*                                <div class="pa-cmnt-img">*/}}
{{/*                                    <img src="assets/images/user.jpg" alt="image" class="img-fluid"/>*/}}
{{/*                                </div>*/}}
{{/*                                <div class="pa-cmnt-content">*/}}
{{/*                                    <h3>小道仓</h3>*/}}
{{/*                                    <p><span class="pa-cmnt-date">2020年3月20日</span><span class="pa-cmnt-time">06:35:44</span>*/}}
{{/*                                    </p>*/}}
{{/*                                    <p>小道仓茶，就想喝点不一样的！</p>*/}}
{{/*                                </div>*/}}
{{/*                            </div>*/}}
{{/*                        </li>*/}}
{{/*                    </ul>*/}}
{{/*                </li>*/}}
{{/*                <li>*/}}
{{/*                    <div class="pa-cmnt-box">*/}}
{{/*                        <div class="pa-cmnt-img">*/}}
{{/*                            <img src="assets/images/user.jpg" alt="image" class="img-fluid"/>*/}}
{{/*                        </div>*/}}
{{/*                        <div class="pa-cmnt-content">*/}}
{{/*                            <h3>小道仓</h3>*/}}
{{/*                            <p><span class="pa-cmnt-date">2020年3月20日</span><span class="pa-cmnt-time">06:35:44</span>*/}}
{{/*                            </p>*/}}
{{/*                            <p>小道仓茶，就想喝点不一样的！</p>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </li>*/}}
{{/*            </ul>*/}}
{{/*            <div class="pa-cmnt-form">*/}}
{{/*                <form>*/}}
{{/*                    <input type="text" placeholder="输入你的姓字">*/}}
{{/*                    <input type="text" placeholder="输入你的电子邮箱">*/}}
{{/*                    <textarea placeholder="在这里留言"></textarea>*/}}
{{/*                    <button class="pa-btn" type="submit">提交</button>*/}}
{{/*                </form>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
    </div>
</div>
<!-- blog single end -->