<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/css/swiper.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/fav.png" type="image/x-icon">
</head>
<body>
<!-- pre loader start -->
<div class="pa-preloader">
    <div class="pa-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- pre loader end -->
<!-- main wrapper start -->
<div class="pa-main-wrapper">
    <!-- top header start -->
    <div class="pa-top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="pa-header-address">
                        <p><span>地址:</span> 上海市天钥桥路1188号朵云轩艺术中心5楼（电影院对正对面）</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pa-header-call">
                        <p>电话 :<span> 4001115055</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header end -->
    <!-- main header start -->
    <div class="pa-main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="pa-logo">
                        <a href="index.html"><img src="/assets/images/logo.png" alt="image" style=" max-width: 150px; "/></a>
                    </div>
                </div>
                <div class="col-md-9 col-6">
                    <div class="pa-nav-bar">
                        <div class="pa-menu">
                            <ul>
                                {{ range $key, $nav := .nav }}
                                <li><a href="{{ $nav.Uri }}">{{ $nav.Title }}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main header end -->
    <!-- why pure start -->
    {{ yield }}

    <!-- footer start -->
    <div class="pa-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="pa-foot-box">
                        <h2 class="pa-foot-title">热门产品</h2>
                        <ul>
                            <li>
                                <a href="javascript:;">中茗红茶</a>
                            </li>
                            <li>
                                <a href="javascript:;">中茗普洱</a>
                            </li>
                            <li>
                                <a href="javascript:;">中茗滇红</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pa-foot-box">
                        <h2 class="pa-foot-title">热销产品</h2>
                        <ul>
                            <li>
                                <a href="javascript:;">宫廷普洱</a>
                            </li>
                            <li>
                                <a href="javascript:;">古韵沧红</a>
                            </li>
                            <li>
                                <a href="javascript:;">金凤玉露</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pa-foot-box pa-foot-subscribe">
                        <img src="/assets/images/logo.png" alt="image"  style=" max-width: 150px; "/>
                        <p>上海中茗茶业有限公司于2020年3月13日成立，运营中心位于上海市徐汇区天钥桥路1188号朵云轩艺术中心5楼；公司现有茶园基地17000多亩，分别建于云南省临沧市双江县，凤庆县，永德县，镇康县等境内，是一家集茶叶种植，产品研发，制造加工，产品包装销售，茶文化传播为一体的公司。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
    <!-- copyright start -->
    <div class="pa-copyright">
        <div class="container">
            <p>Copyright &copy; 2020. All right <a href="#" title="">reserved</a>. <a href="index.html">大道沧</a></p>
        </div>
    </div>
    <!-- copyright end -->
    <!-- login start -->
    <div class="pa-login-model">
        <div class="modal fade" id="loginModel">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="pa-login-close close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <h1 class="pa-login-title">Login</h1>
                        <form>
                            <div class="pa-login-form">
                                <input type="text" placeholder="Username">
                                <input type="password" placeholder="Password">
                                <div class="pa-remember">
                                    <label>Remember Me
                                        <input type="checkbox">
                                        <span class="s_checkbox"></span>
                                    </label>
                                    <a href="javascript:;" class="pa-forgot-password" data-toggle="modal" data-target="#forgotModal" data-dismiss="modal" aria-label="Close">Forgot Password ?</a>
                                </div>
                                <div class="pa-login-btn">
                                    <button class="pa-btn">Login</button>
                                    <p>Don't have an account? <a href="javascript:;" data-toggle="modal" data-target="#signUpModal" data-dismiss="modal" aria-label="Close">Sign up</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login end -->
    <!-- signup start -->
    <div class="pa-login-model pa-signup-modal">
        <div class="modal fade" id="signUpModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="pa-login-close close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <h1 class="pa-login-title">Signup</h1>
                        <form>
                            <div class="pa-login-form">
                                <input type="text" placeholder="Username">
                                <input type="text" placeholder="Email">
                                <input type="password" placeholder="Password">
                                <input type="password" placeholder="Confirm Password">

                                <div class="pa-login-btn">
                                    <button class="pa-btn">Sign up</button>
                                    <p>Already have an account? <a href="javascript:;" data-toggle="modal" data-target="#loginModel" data-dismiss="modal" aria-label="Close">Login</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- signup end -->
    <!-- forgot start -->
    <div class="pa-login-model pa-forgot-modal">
        <div class="modal fade" id="forgotModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="pa-login-close close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <h1 class="pa-login-title">Forgot Password</h1>
                        <form>
                            <div class="pa-login-form">
                                <input type="text" placeholder="Email">
                                <div class="pa-login-btn">
                                    <button class="pa-btn">Forgot</button>
                                    <p>Don't have an account? <a href="javascript:;" data-toggle="modal" data-target="#signUpModal" data-dismiss="modal" aria-label="Close">Sign up</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- forgot end -->
</div>
<!-- main wrapper end -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/SmoothScroll.min.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>