<section class="walter-title-11-about">
    <div class="title11">
        <div class="wrapper">
            <div class="title11-content">
                <h2>{{ call .tr "About Us" }}</h2>
            </div>
        </div>
    </div>
</section>
<div class="walter-content-5">
    <div class="content">
        <div class="section-title text-center">
            <h3>Wu Miao</h3>
        </div>
        <div class="wrapper">
            <div class="d-grid">

                <div class="content-left">
                    <h3>科学改变世界<br/>技术改变未来</h3>
                </div>
                <div class="content-right">
                    <p>本站是学习资料的网站,本站为个人网站，访客主要是网站建设、网页设计和网络编程开发人员及业余网页爱好者，网站定位于最新前沿技术，以及网络安全知识和操作系统知识等。由于每天的工作量较大，一些代码我们尽量的修改，并修正，但因个人能力与时间有限，并不保证全部无错，如果大家在测试过程中，发现了错误，如果您有时间的话，可以给我们留言或直接在文章上回复，我们尽快的修改，感谢大家对我们的支持。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="walter-specifications-9">
    <div class="main-w3">
        <div class="wrapper">
            <div class="d-flex main-cont-wthree-fea">
                <div class="grids-speci">
                    <h3 class="title-spe">13+</h3>
                    <p>Millions</p>
                </div>
                <div class="grids-speci midd-eff-spe">
                    <h3 class="title-spe">1650</h3>
                    <p>Projects done</p>
                </div>
                <div class="grids-speci midd-eff-spe">
                    <h3 class="title-spe">458</h3>
                    <p>New followers</p>
                </div>
                <div class="grids-speci">
                    <h3 class="title-spe">45+</h3>
                    <p>Designers</p>
                </div>
            </div>
        </div>
    </div>
</section>
