<section class="walter-title-11-service">
    <div class="title11">
        <div class="wrapper">
            <div class="title11-content"><h2>{{ call .tr "Services" }}</h2></div>
        </div>
    </div>
</section>

<section class="walter-services-1">
    <div class="services1">
        <div class="wrapper">
            <div class="services-title">
                <h3>全方位互联网解决方案</h3>
                <p>2015年已来，我们一直奉行专业、专心、专注、务实、创新的企业理念，以专业的素质、精湛的技术、高效的工作效率、一对一管家式的贴心服务赢得了广大企业客户的信赖！</p>
            </div>
            <div class="services1-content">
                <div class="column services-list-item">
                    <a href="javascript:(0)">
                        <video width="100%" class="video" loop="" muted="" poster="./assets/images/service_webdesign.jpg">
                            <source src="./assets/images/service_webdesign.mp4" type="video/mp4">
                        </video>
                        <div class="service-info">
                            <h4>网页设计与应用开发</h4>
                            <p>网站设计与开发 | 定制网站SEO | 定制网站优化 | 小程序设计与开发</p>
                        </div>
                    </a>
                </div>
                <div class="column services-list-item">
                    <a href="javascript:(0)">
                        <video width="100%" class="video" loop="" muted="" poster="./assets/images/service_branding.jpg">
                            <source src="./assets/images/service_branding.mp4" type="video/mp4">
                        </video>
                        <div class="service-info">
                            <h4>以结果为导向的数字营销</h4>
                            <p>数字营销策略 | 搜索引擎优化 | 社交和新媒体 | 软文内容营销</p>
                        </div>
                    </a>
                </div>
                <div class="column services-list-item">
                    <a href="javascript:(0)">
                        <video width="100%" class="video" loop="" muted="" poster="./assets/images/service_ecommerce.jpg">
                            <source src="./assets/images/service_ecommerce.m4v" type="video/mp4">
                        </video>
                        <div class="service-info">
                            <h4>全方位服务的电子商务</h4>
                            <p>电子商务设计 | 电子商务开发 | 电子商务SEO | 电子商务营销</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.onload = function () {
        const vids = document.getElementsByClassName('services-list-item'); // Loop over the selected elements and add event listeners
        for (let i = 0; i < vids.length; i++) {
            let vidsItem = vids[i].querySelector('video');
            vids[i].addEventListener('mouseover', function (e) {
                vidsItem.play()
            });
            vids[i].addEventListener('mouseout', function (e) {
                vidsItem.pause()
            })
        }
    }
</script>
<section class="walter-content-with-photo-4">
    <div>
        <div class="wrapper">
            <div class="cwp4-two">
                <div class="cwp4-image">
                    <img src="assets/images/application-development-img.png" class="img-responsive" alt="">
                </div>
                <div class="cwp4-text">
                    <h4>复杂业务应用程序开发</h4>
                    <p>我们一直在为全球各个品牌不断开发小型复杂的业务应用程序。我们的技术专家团队提供了一个透明的开发过程和高品质的应用程序。我们在电子商务领域和软件开发以及POS、多租户SaaS、PWA等领域拥有超过十年的经验。无论是小型应用程序还是复杂应用程序，我们的专家团队将始终在适当的时间内为客户提供最佳解决方案。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="walter-content-with-photo-4">
    <div id="content-with-photo4-block">
        <div class="wrapper">
            <div class="cwp4-two">
                <div class="cwp4-text">
                    <h4>利用人工智能使整个过程自动化</h4>
                    <p>人工智能刚刚从科幻小说中搬到了现实世界。通过使整个过程和生命周期自动化，人工智能可以使产品更智能，更轻松地工作。近年来，人工智能的发展就像杂草一样，进入了一个未知的可能性的新时代。现在，我们有自动控制的无人机，自动移动的自行车，甚至是自动控制的车辆；这可以凸显人工智能在当今现实世界中的能力。 另一方面，图像识别，自动检测和数字个性化已被推到了新的高度。</p>
                </div>
                <div class="cwp4-image">
                    <img src="assets/images/ai-page.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="walter-features-2">
    <div class="wrapper">
        <div class="feature-main">
            <div class="services-title text-center">
                <h3>数字营销成功的关键</h3>
                <p>当涉及数字营销时，有各种各样的策略和资产。在您仍处于萌芽状态时，可以一边处理电子商务商店和营销工作。您可能最终将所有内容浪费掉并失去了业务。我们不希望我们的客户这样做，因此，我们在这里为您提供帮助。</p>
            </div>
            <div class="grid grid-column-2">
                <div class="img1">
                    <span class="fa fa-wrench"></span>
                    <h4>宝贵的客户反馈</h4>
                    <p class="para">客户反馈是一件重要的事情，它将增加您的品牌价值以及用户之间的知名度。</p>
                </div>
                <div class="img1">
                    <span class="fa fa-cogs"></span>
                    <h4>目标权利领导</h4>
                    <p class="para">始终优先考虑目标受众，因为它们将帮助您扩展业务。</p>
                </div>
                <div class="img1">
                    <span class="fa fa-support"></span>
                    <h4>不断改进</h4>
                    <p class="para">为了在业务上取得巨大成功，您必须宽容根据市场潮流进行更新。</p>
                </div>
                <div class="img1">
                    <span class="fa fa-sign-language"></span>
                    <h4>分析增长和绩效</h4>
                    <p class="para">分析您的业务增长和绩效将帮助您消除系统中的漏洞。</p>
                </div>
                <div class="img1">
                    <span class="fa fa-home"></span>
                    <h4>有效的内容和博客</h4>
                    <p class="para">内容在您的网站性能中起着至关重要的作用。因此，在提供相同内容的同时要做到独特而翔实。</p>
                </div>
                <div class="img1">
                    <span class="fa fa-users"></span>
                    <h4>全渠道覆盖率</h4>
                    <p class="para">您可以在目标受众中提高品牌知名度，从而获得更高的投资回报率。</p>
                </div>
            </div>


        </div>
    </div>
</section>