<section class="walter-title-11-service">
    <div class="title11">
        <div class="wrapper">
            <div class="title11-content"><h2>{{ call .tr "Services" }}</h2></div>
        </div>
    </div>
</section>

<section class="walter-services-1">
    <div class="services1">
        <div class="wrapper">
            <div class="services-title">
                <h3>全方位互联网解决方案</h3>
                <p>2015年已来，我们一直奉行专业、专心、专注、务实、创新的企业理念，以专业的素质、精湛的技术、高效的工作效率、一对一管家式的贴心服务赢得了广大企业客户的信赖！</p>
            </div>
            <div class="services1-content">
                <div class="column services-list-item">
                    <a href="javascript:(0)">
                        <video width="100%" class="video" loop="" muted="" poster="./assets/images/service_webdesign.jpg">
                            <source src="./assets/images/service_webdesign.mp4" type="video/mp4">
                        </video>
                        <div class="service-info">
                            <h4>网页设计与应用开发</h4>
                            <p>网站设计与开发 | 定制网站SEO | 定制网站优化 | 小程序设计与开发</p>
                        </div>
                    </a>
                </div>
                <div class="column services-list-item">
                    <a href="javascript:(0)">
                        <video width="100%" class="video" loop="" muted="" poster="./assets/images/service_branding.jpg">
                            <source src="./assets/images/service_branding.mp4" type="video/mp4">
                        </video>
                        <div class="service-info">
                            <h4>以结果为导向的数字营销</h4>
                            <p>数字营销策略 | 搜索引擎优化 | 社交和新媒体 | 软文内容营销</p>
                        </div>
                    </a>
                </div>
                <div class="column services-list-item">
                    <a href="javascript:(0)">
                        <video width="100%" class="video" loop="" muted="" poster="./assets/images/service_ecommerce.jpg">
                            <source src="./assets/images/service_ecommerce.m4v" type="video/mp4">
                        </video>
                        <div class="service-info">
                            <h4>全方位服务的电子商务</h4>
                            <p>电子商务设计 | 电子商务开发 | 电子商务SEO | 电子商务营销</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.onload = function () {
        const vids = document.getElementsByClassName('services-list-item'); // Loop over the selected elements and add event listeners
        for (let i = 0; i < vids.length; i++) {
            let vidsItem = vids[i].querySelector('video');
            vids[i].addEventListener('mouseover', function (e) {
                vidsItem.play()
            });
            vids[i].addEventListener('mouseout', function (e) {
                vidsItem.pause()
            })
        }
    }
</script>
<section class="walter-services-1">
    <div class="services1">
        <div class="wrapper">
            <div class="services-title"><h3>自定义多店系统平台</h3>
                <p>选择全渠道新零售解决方案，您将获得的能力</p></div>
            <div class="services1-content">
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>业务</h4>
                        <p>可以轻松的将业务拓展到数十个电商销售平台</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>平台</h4>
                        <p>可以快速创立属于自己的官方销售平台</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>订单</h4>
                        <p>多渠道多店铺订单统一处理，统一发货，统一库存管 理的能力</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>消费者</h4>
                        <p>多渠道多店铺的消费者统一维护，统一营销的能力</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>商品</h4>
                        <p>多渠道多店铺商品统一维护，统一上架，统一更新的能力</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>仓储</h4>
                        <p>与第三方仓储服务联通的能力</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>连接</h4>
                        <p>企业内部系统和数据联通的能力</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>数据</h4>
                        <p>拥有获得行业数据，类目数据，同类目竞争对手经营数据情报的能力</p></div>
                </a></div>
                <div class="column"><a href="services-single.html">
                    <div class="service-info"><span class="fa fa-sign-language"></span><h4>方案</h4>
                        <p>如企业有良好的产品和供应链能力，此方案可以支撑 企业全渠道过亿的生意规模</p></div>
                </a></div>
            </div>
        </div>
    </div>
</section><!-- //services 1 -->
<section class="walter-features-2">
    <div class="wrapper">
        <div class="feature-main">
            <div class="services-title"><h3>多维度、自定义式管理</h3>
                <p>O2O新零售解决方案如何支撑业务运营</p></div>
            <div class="grid grid-column-2">
                <div class="img1"><span class="fa fa-support"></span><h4>全方位流量平台支持</h4>
                    <p class="para">我们深知每个平台流量来之不易，所以不管是销售型流量平台（天猫、京东等），
                        还是社交性流量平台（微信、微博等），或者是专业型流量平台，和自身站点移动端、PC端都可以对接，并进行会员的统一识别。</p></div>
                <div class="img1"><span class="fa fa-sign-language"></span><h4>移动营销时代的新花样</h4>
                    <p class="para">
                        移动互联网时代，新的互动营销模式层出不穷，我们有远比以往更多的方式与消费互动，吸引他们的注意力。摇一摇、刮刮卡等一系列带有关于移动属性特征的玩法让消费者乐于其中，同时大大增加了对品牌的印象，消费行为的推进也就顺理成章了。</p>
                </div>
                <div class="img1"><span class="fa fa-home"></span><h4>360度全渠道商务</h4>
                    <p class="para">
                        您的店铺将与线上无缝衔接，通过网络同步到全方位多渠道环境，即使无销售员的情况下，消费者轻触手指，也可以了解全部相关信息。消费者也可以通过二维码扫描识别，进行下单购买，并要求送货。-这是线上线下目标从未有过的一致，提供完美的交易体验。</p>
                </div>
                <div class="img1"><span class="fa fa-users"></span><h4>收银结算一体化</h4>
                    <p class="para">这不只是对消费者一次绝佳的消费体验，更可以为商家对消费者在多渠道进行统一识别。无论代理商、销售商、加盟商等，这对从生产到销售的各个环节的掌控具有深远意义，
                        财务核算、门店盘点将会更快地完成。</p></div>
                <div class="img1"><span class="fa fa-money"></span><h4>数据支撑决策</h4>
                    <p class="para">
                        系统自带专业的多维度下钻的数据报表，同时也支持根据自身业务需求设置特定报表发送给特点管理者，时至今日，报表不在属于PC电脑前专有，在手机端或PAD端，均可以查看针对性的报表。</p>
                </div>
                <div class="img1"><span class="fa fa-indent"></span><h4>识别消费者，发现未曾发现</h4>
                    <p class="para">
                        基于消费者大数据基础，多维度客户画像，方便日后开展全方位有针对性的营销活动，特设潜在客户与微信客户组，即使是擦肩而过的未成交客户，也不会遗漏，客户能够接收到短信、微信、邮件、移动商城等他所需的信息。</p>
                </div>
            </div>
        </div>
    </div>
</section>