<!-- hero-header 11 -->
<section class="w3l-hero-headers-11">
    <div class="hero-header-11-content">
        <!-- banner -->
        <div id="homepage-slider" class="st-slider">
            <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
            <div class="images">
                <div class="images-inner">
                    <div class="image-slide">
                        <div class="banner-w3ls-1">
                            <div class="wrapper-full">
                                <div class="slider-num d-grid grid-columns-auto">
                                    <h4>01<span>/03</span></h4>
                                    <p>Caption</p>
                                </div>
                                <div class="d-grid grid-columns-auto-end">
                                    <div class="slider-text-w3ls">
                                        <span>Interior</span>
                                        <h4>Affordable Solutions For Better Living</h4>
                                        <p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo efficitur elementum.
                                            Donec faucibus arcu elementum, luctus justo.</p>
                                        <a href="about.html" class="action"> Read More</a>
                                    </div>
                                    <div class="share align-end">
                                        <a href="#share"> Share</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3ls-2">
                            <div class="wrapper-full">
                                <div class="slider-num d-grid grid-columns-auto">
                                    <h4>02<span>/03</span></h4>
                                    <p>Caption</p>
                                </div>
                                <div class="d-grid grid-columns-auto-end">
                                    <div class="slider-text-w3ls">
                                        <span>Interior</span>
                                        <h4>We Bring Ideas To Life</h4>
                                        <p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo efficitur elementum.
                                            Donec faucibus arcu elementum, luctus justo.</p>
                                        <a href="about.html" class="action">  Read More </a>
                                    </div>
                                    <div class="share align-end">
                                        <a href="#share"> Share</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3ls-3">
                            <div class="wrapper-full">
                                <div class="slider-num d-grid grid-columns-auto">
                                    <h4>03<span>/03</span></h4>
                                    <p>Caption</p>
                                </div>
                                <div class="d-grid grid-columns-auto-end">
                                    <div class="slider-text-w3ls">
                                        <span>Interior</span>
                                        <h4>Bringing Style And Comfort </h4>
                                        <p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo efficitur elementum.
                                            Donec faucibus arcu elementum, luctus justo.</p>
                                        <a href="about.html" class="action">  Read More </a>
                                    </div>
                                    <div class="share align-end">
                                        <a href="#share"> Share</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="labels">
                <div class="fake-radio">
                    <label for="slide1" class="radio-btn"></label>
                    <label for="slide2" class="radio-btn"></label>
                    <label for="slide3" class="radio-btn"></label>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
</section>
<!-- //hero-header 11 -->
<!-- calltoaction-20 -->
<section class="w3l-call-to-action-20">
    <div class="calltoaction-20">
        <div class="wrapper">
            <div class="calltoaction-20-content d-grid">
                <img src="assets/images/about.jpg" class="img-responsive" alt="" />
                <div class="column center-align-self">
                    <h5>Interior</h5>
                    <h3>Bringing style and comfort for Customer Satisfaction</h3>
                    <p>Fusce faucibus ante vitae justo efficitur elementum. Donec faucibus arcu elementum, luctus justo. ac purus semper pharetra. Donec faucibus arcu elementum, luctus justo.</p>
                    <a href="about.html" class="actionbg">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //calltoaction-20 -->

<!-- services 1-->
<section class="w3l-services-1">
    <div class="services1">
        <div class="wrapper">
            <div class="services-title">
                <h3>what we offer</h3>
                <p>Fusce faucibus ante vitae justo efficitur elementum. Donec faucibus arcu elementum, luctus justo. ac purus semper pharetra.</p>
            </div>
            <div class="services1-content">
                <div class="column">
                    <a href="services-single.html">
                        <img src="assets/images/service1.jpg" class="img-responsive" alt="" />
                        <div class="service-info">
                            <h4>Interior Design</h4>
                            <p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="services-single.html">
                        <img src="assets/images/service2.jpg" class="img-responsive" alt="" />
                        <div class="service-info">
                            <h4>Commercial Design</h4>
                            <p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="services-single.html">
                        <img src="assets/images/service3.jpg" class="img-responsive" alt="" />
                        <div class="service-info">
                            <h4>Residential Design</h4>
                            <p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services 1 -->

<!-- w3l-content-11 -->
<section class="w3l-content-11">
    <div class="wrapper">
        <div class="section-title text-center">
            <h3>why choose us</h3>
        </div>
        <div class="w3l-content-11-content">
            <div class="column content-text">
                <div class="content-text-left">
                    <div class="columns">
                        <span class="fa fa-shower"></span>
                        <p> Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper sed habitant morbi ipsum et condimentum arcu.</p>
                    </div>
                    <div class="columns">
                        <span class="fa fa-podcast"></span>
                        <p> Suspendisse condimentum eget ligula a posuere. Duis ipsum et condimentum arcu ut sem gravida lobortis,. pellentesque sed habitant morbi tristique .</p>
                    </div>
                    <div class="columns">
                        <span class="fa fa-s15"></span>
                        <p> Fusce faucibus ante vitae justo efficitur elementum. Donec sed faucibus arcu elementum, luctus justo. ac purus semper sed habitant morbi ipsum et condimentum arcu.</p>
                    </div>
                    <div class="columns">
                        <span class="fa fa-bed"></span>
                        <p> Suspendisse condimentum eget ligula a posuere. Duis ipsum et condimentum arcu ut sem gravida lobortis,. pellentesque sed habitant morbi tristique .</p>
                    </div>
                </div>
            </div>
            <div class="column content-text">
                <div class="content-text-right">
                    <div class="columns">
                        <span class="fa fa-edit"></span>
                        <p> Fusce faucibus ante vitae justo efficitur elementum. Donec sed faucibus arcu elementum, luctus justo. ac purus semper sed habitant morbi ipsum et condimentum arcu.</p>
                    </div>
                    <div class="columns">
                        <span class="fa fa-bathtub"></span>
                        <p> Suspendisse condimentum eget ligula a posuere. Duis ipsum et condimentum arcu ut sem gravida lobortis,. pellentesque sed habitant morbi tristique .</p>
                    </div>
                    <div class="columns">
                        <span class="fa fa-magnet"></span>
                        <p> Fusce faucibus ante vitae justo efficitur elementum. Donec sed faucibus arcu elementum, luctus justo. ac purus semper sed habitant morbi ipsum et condimentum arcu.</p>
                    </div>
                    <div class="columns">
                        <span class="fa fa-hourglass"></span>
                        <p> Suspendisse condimentum eget ligula a posuere. Duis ipsum et condimentum arcu ut sem gravida lobortis,. pellentesque sed habitant morbi tristique .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //w3l-content-11 -->

<!-- companies20 -->
<section class="companies-20">
    <div class="companies20">
        <div class="wrapper">
            <div class="section-title text-center">
                <h3>our clients</h3>
            </div>
            <div class="companies20-content">
                <div class="companies-wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-3.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-4.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-5.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-1.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-2.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-3.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-7.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-8.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-4.jpg" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#link"><img src="assets/images/client-5.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="text">
                        <p>	Mauris cursus tincidunt elementum. Aliquam erat volutpat. In mollis magna sed dui porta, id tempus ipsum volutpat. Sed dolor pellentesque varius porta, a hendrerit velit.
                            Mauris cursus tincidunt elementum. Aliquam erat volutpat. In mollis magna sed duiporta, id tempus ipsum volutpat. Sed pellentesque varius porta, a hendrerit velit
                        </p>
                        <a href="#link" class="action">Know More <span class="right"></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //companies20 -->

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/companies-20-owl.carousel.js"></script>

<!-- script for companies 20 -->
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            autoplay:true,
            autoplayTimeout:2000,
            autoplaySpeed: 1000,
            autoplayHoverPause:true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                480: {
                    items: 2,
                    nav: true,
                    margin: 20
                },
                667: {
                    items: 2,
                    nav: true,
                    margin: 20
                },
                1000: {
                    items: 3,
                    nav: true,
                    margin: 20
                }
            }
        })
    })
</script>
<!-- //script for companies 20 -->

<!-- w3l-features-4 -->
<section class="w3l-features-4">
    <div id="features4-block">
        <div class="wrapper">
            <div class="features4-grids d-grid text-center">
                <div class="features4-grid">
                    <span class="fa fa-certificate"></span>
                    <h5>5 years warranty</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
                <div class="features4-grid">
                    <span class="fa fa-users"></span>
                    <h5>100+ expert designers</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
                <div class="features4-grid">
                    <span class="fa fa-indent"></span>
                    <h5>free installation</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
                <div class="features4-grid">
                    <span class="fa fa-home"></span>
                    <h5>free home delivery</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
            </div>
        </div>
    </div>
</section>